# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# env 파일 — 절대 올리면 안 됨
.env
.env.local
.env.production

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo